body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(37, 175, 213);
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.izquierdo {
  background-color: #0e6ba8;
  color: white;
  flex: 1;
  padding: 20px;
  min-width: 300px;
  text-align: center;
}

.izquierdo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-weight: bold;
  margin: 10px 0;
}

.info p {
  margin: 5px 0;
}

.derecho {
  flex: 2;
  padding: 30px;
  background-color: #ffffff;
}

.titulo {
  margin-top: 20px;
  color: #0e6ba8;
}

.boton {
  margin: 10px 0;
  padding: 10px;
  background-color: #0e6ba8;
  color: white;
  border: none;
  cursor: pointer;
}

.contenido {
  display: none;
  padding: 10px 0;
}

form {
  margin-top: 30px;
  background-color: white;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
